
body {
    background-image: url(./tree.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .header.startup {
    background-position: center;
}
p {
    color: white;
    text-align: left;
}

.skill {
    font-size: 3rem;
    text-shadow: 5px 5px black;
    
}

.masterclass {
    font-size: 3rem;
    text-shadow: 5px 5px black;
}

a {
    color: green;  
}
a:hover {
    color: white;
}
.btn-outline-success {
    background-color: white;
    transition: all 1s;      
}

.btn-outline-success:hover {
    transform: scale(1.2)
}
/* SingUpForm.html */
#mc-embedded-subscribe-form {
    width: 600px;
    
}

#mc_embed_signup #mce-success-response {
    color: white;
    font-size: 2em;
    display: none;
}